NET a[0] LOC=T10;
NET a[1] LOC=T9;
NET a[2] LOC=V9;
NET a[3] LOC=M8;
NET b[0] LOC=N8;
NET b[1] LOC=U8;
NET b[2] LOC=V8;
NET b[3] LOC=T5;
NET c[0] LOC=U16;
NET c[1] LOC=V16;
NET c[2] LOC=U15;
NET c[3] LOC=V15;
NET c[4] LOC=M11;
NET c[5] LOC=N11;
NET c[6] LOC=R11;
NET c[7] LOC=T11;
NET start LOC=B8;
NET reset LOC=D9;
NET clk LOC=C4;